/*  Footer Styles
/* =================================== */
/*-------- start footer Area -------------*/
.footer-area {
    background-color: #fff;
}

.footerimagelogo {
    justify-content: center;
    display: flex;
    align-items: center;
}

.single-footer-widget h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    .single-footer-widget h4 {
        margin-bottom: 15px;
    }
}

.single-footer-widget .form-control {
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 80% !important;
    font-weight: 300;
    background: transparent;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    line-height: normal !important;
    color: #ffffff;
    height: 40px;
    padding: 0 20px;
}

.single-footer-widget .form-control:focus {
    box-shadow: none;
    color: #ffffff;
}

.single-footer-widget ul li {
    margin-bottom: 10px;
}

.single-footer-widget ul li a {
    color: #777777;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.single-footer-widget ul li a:hover {
    color: #f88c8c;
}

.single-footer-widget .info {
    margin-top: 25px;
    color: #fff;
    font-size: 12px;
}

.single-footer-widget .info.valid {
    color: green;
}

.single-footer-widget .info.error {
    color: red;
}

.single-footer-widget .btn {
    font-size: 1.2rem;
    border-radius: 0;
    background: #f88c8c;
    color: #fff;
    padding: 5px 10px;
}

.single-footer-widget .btn .lnr {
    line-height: inherit;
    font-size: 13px;
    padding: 0px 4px;
}

.single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #191919 !important;
    color: #777777;
}

.single-footer-widget ::selection {
    background-color: #191919 !important;
    color: #777777;
}

.single-footer-widget input.placeholder {
    color: #555555;
    font-size: 13px;
}

.single-footer-widget input:-moz-placeholder {
    color: #555555;
    font-size: 13px;
}

.single-footer-widget input::-moz-placeholder {
    color: #555555;
    font-size: 13px;
}

.single-footer-widget input::-webkit-input-placeholder {
    color: #555555;
    font-size: 13px;
}

@media (max-width: 991px) {
    .single-footer-widget {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .single-footer-widget .input-group {
        width: 85%;
    }
}

.footer-bottom {
    padding-top: 50px;
}

@media (max-width: 575px) {
    .footer-bottom {
        padding-top: 20px;
    }
}

.footer-bottom .footer-social {
    text-align: right;
}

@media (max-width: 991px) {
    .footer-bottom .footer-social {
        text-align: left;
        margin-top: 30px;
    }
}

.footer-bottom .lnr,
.footer-bottom a {
    color: #f88c8c;
}

.footer-bottom .footer-social a {
    background: rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.footer-bottom .footer-social a i {
    vertical-align: bottom;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.footer-bottom .footer-social a:hover {
    background-color: #f88c8c;
}

.footer-bottom .footer-social a:hover i {
    color: #ffffff;
}

/*-------- end footer Area -------------*/
