.logo {
    text-align: center;
}

.logo img {
    width: 54%;
}

@media (max-width: 4921px) {
    .logo img {
        width: 16%;
    }
}

@media (max-width: 576px) {
    .logo img {
        width: 24%;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 35%;
    }
}

@media (max-width: 320px) {
    .logo img {
        width: 75%;
    }
}

@media (max-width: 400px) {
    .logo {
        position: absolute;
        top: 9px;
    }
}

.header-area {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 80px;
    background-color: #fff;
    z-index: 999999;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}

.header-content {
    height: 100%;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.dropdown-item {
    width: auto !important;
    text-align: left;
    font-size: 14px;
}

@media (max-width: 767px) {
    .dropdown-item {
        text-align: right;
        padding: 0.25rem;
    }
}

@media (min-width: 768px) {
    .dropdown .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: transparent;
}

.menu-left {
    text-align: center;
}

.menu-left a {
    margin-right: 32px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

@media (max-width: 991px) {
    .menu-left a {
        margin-right: 7px;
    }
}

.menu-left a:hover,
.menu-left a.active {
    color: #f88c8c;
}

.menu-left a:last-child {
    margin-right: 0;
}

@media (max-width: 767px) {
    .menu-left {
        display: none;
    }
}

.menu-right li a {
    margin-right: 32px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.menu-right {
    align-self: flex-start;
}

.menu-right li a:hover,
.menu-right li a.active {
    color: #f88c8c !important;
}

@media (max-width: 1199px) {
    .menu-right li a {
        margin-right: 16px;
    }
}

@media (max-width: 991px) {
    .menu-right li a {
        margin-right: 7px;
        letter-spacing: normal;
    }
}

.menu-right li .dropdown-menu {
    border-radius: 0;
    margin-top: 28px;
    border: none;
}

@media (max-width: 767px) {
    .menu-right li .dropdown-menu {
        margin-top: 0px;
    }
}

.menu-right li .dropdown-menu a {
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
}

@media (max-width: 1280px) and (min-width: 799px) {
    .menu-right {
        font-size: 11px;
    }
}

@media (max-width: 800px) {
    .menu-right {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .menu-right {
        text-align: right;
    }
}

.menu-right .hide-lg {
    display: none;
}

@media (max-width: 767px) {
    .menu-right .hide-lg {
        display: block;
    }
}
