/* Blog Area CSS*/

.blogher-img {
    height: 250px;
    border-radius: 25px;
    /* margin-left: 20%; */
}

.banner-content.blog {
    background: linear-gradient(white 0 28%, #fff7f7 28% 100%);
    margin: auto;
    /* margin-bottom: 40px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; */
}

.blog-card {
    width: 90%;
    max-width: 780px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    margin: auto auto 30px auto;
    padding: 0px;
}

.blog-card.h3 {
    font-size: 28px;
    letter-spacing: 0.75px;
}

.blog-publish {
    color: #9a9a9a;
}

.byline {
    color: #9a9a9a;
    font-style: italic;
}

.blog-date-read {
    margin-bottom: -0.5em;
}

.blog-info {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    max-height: 7.2em;
    line-height: 1.8em;
    padding-right: 10px;
}

.continue-reading {
    color: #f88c8c;
    font-weight: bold;
    margin-bottom: 15px;
}

.post-content {
    width: 50%;
    margin: auto auto 20px auto;
}

.pink {
    color: #f88c8c;
}

.about-author {
    text-align: left;
    margin-top: -5px;
    margin-left: 10px;
}

.author-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

a {
    color: #e76871;
}

.back-button {
    margin-left: 16px;
    margin-top: 16px;
    width: 24px;
    height: 24px;
}

.back-button-icon {
    font-size: 2em;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 180px;
    background-color: #f88c8c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f88c8c transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
